@font-face {
  font-family: 'brandscolor';
  src:  url('../fonts/brandscolor/brandscolor.eot?hmob4f');
  src:  url('../fonts/brandscolor/brandscolor.eot?hmob4f#iefix') format('embedded-opentype'),
    url('../fonts/brandscolor/brandscolor.ttf?hmob4f') format('truetype'),
    url('../fonts/brandscolor/brandscolor.woff?hmob4f') format('woff'),
    url('../fonts/brandscolor/brandscolor.svg?hmob4f#brandscolor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bc "], [class*=" bc"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'brandscolor' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: block;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bc-1password:before {
  content: "\e900";
  color: #0094f5;
}
.bc-500px:before {
  content: "\e901";
  color: #0099e5;
}
.bc-abbrobotstudio:before {
  content: "\e902";
  color: #ff9e0f;
}
.bc-about-dot-me:before {
  content: "\e903";
  color: #00a98f;
}
.bc-abstract:before {
  content: "\e904";
}
.bc-academia:before {
  content: "\e905";
}
.bc-accusoft:before {
  content: "\e906";
  color: #ff7e4a;
}
.bc-acm:before {
  content: "\e907";
  color: #0085ca;
}
.bc-addthis:before {
  content: "\e908";
  color: #ff6550;
}
.bc-adguard:before {
  content: "\e909";
  color: #66b574;
}
.bc-adobe:before {
  content: "\e90a";
  color: #f00;
}
.bc-adobeacrobatreader:before {
  content: "\e90b";
  color: #ee3f24;
}
.bc-adobeaftereffects:before {
  content: "\e90c";
  color: #d291ff;
}
.bc-adobeaudition:before {
  content: "\e90d";
  color: #00e4bb;
}
.bc-adobecreativecloud:before {
  content: "\e90e";
  color: #d41818;
}
.bc-adobedreamweaver:before {
  content: "\e90f";
  color: #35fa00;
}
.bc-adobeillustrator:before {
  content: "\e910";
  color: #ff7c00;
}
.bc-adobeindesign:before {
  content: "\e911";
  color: #fd3f93;
}
.bc-adobelightroomcc:before {
  content: "\e912";
  color: #3df0f0;
}
.bc-adobelightroomclassic:before {
  content: "\e913";
  color: #add5ec;
}
.bc-adobephotoshop:before {
  content: "\e914";
  color: #00c8ff;
}
.bc-adobepremiere:before {
  content: "\e915";
  color: #ea77ff;
}
.bc-adobetypekit:before {
  content: "\e916";
  color: #87ec00;
}
.bc-adobexd:before {
  content: "\e917";
  color: #ff2bc2;
}
.bc-airbnb:before {
  content: "\e918";
  color: #ff5a5f;
}
.bc-airplayaudio:before {
  content: "\e919";
}
.bc-airplayvideo:before {
  content: "\e91a";
}
.bc-algolia:before {
  content: "\e91b";
  color: #5468ff;
}
.bc-alliedmodders:before {
  content: "\e91c";
  color: #1578d3;
}
.bc-amazon:before {
  content: "\e91d";
  color: #f90;
}
.bc-amazonalexa:before {
  content: "\e91e";
  color: #00caff;
}
.bc-amazonaws:before {
  content: "\e91f";
}
.bc-amd:before {
  content: "\e920";
  color: #ed1c24;
}
.bc-americanexpress:before {
  content: "\e921";
  color: #2e77bc;
}
.bc-anaconda:before {
  content: "\e922";
  color: #42b029;
}
.bc-analogue:before {
  content: "\e923";
}
.bc-anchor:before {
  content: "\e924";
  color: #8940fa;
}
.bc-android:before {
  content: "\e925";
  color: #3ddc84;
}
.bc-angellist:before {
  content: "\e926";
}
.bc-angular:before {
  content: "\e927";
  color: #dd0031;
}
.bc-angularuniversal:before {
  content: "\e928";
  color: #00acc1;
}
.bc-ansible:before {
  content: "\e929";
  color: #e00;
}
.bc-apache:before {
  content: "\e92a";
  color: #d22128;
}
.bc-apacheairflow:before {
  content: "\e92b";
  color: #007a88;
}
.bc-apachecordova:before {
  content: "\e92c";
  color: #e8e8e8;
}
.bc-apacheflink:before {
  content: "\e92d";
  color: #e6526f;
}
.bc-apachekafka:before {
  content: "\e92e";
}
.bc-apachenetbeanside:before {
  content: "\e92f";
  color: #1b6ac6;
}
.bc-apacheopenoffice:before {
  content: "\e930";
  color: #0e85cd;
}
.bc-apacherocketmq:before {
  content: "\e931";
  color: #d77310;
}
.bc-apachespark:before {
  content: "\e932";
  color: #e25a1c;
}
.bc-apple:before {
  content: "\e933";
  color: #999;
}
.bc-applemusic:before {
  content: "\e934";
}
.bc-applepay:before {
  content: "\e935";
}
.bc-applepodcasts:before {
  content: "\e936";
  color: #93c;
}
.bc-appveyor:before {
  content: "\e937";
  color: #00b3e0;
}
.bc-aral:before {
  content: "\e938";
  color: #0063cb;
}
.bc-archiveofourown:before {
  content: "\e939";
  color: #900;
}
.bc-archlinux:before {
  content: "\e93a";
  color: #1793d1;
}
.bc-arduino:before {
  content: "\e93b";
  color: #00979d;
}
.bc-artstation:before {
  content: "\e93c";
  color: #13aff0;
}
.bc-arxiv:before {
  content: "\e93d";
  color: #b31b1b;
}
.bc-asana:before {
  content: "\e93e";
}
.bc-asciidoctor:before {
  content: "\e93f";
  color: #e40046;
}
.bc-at-and-t:before {
  content: "\e940";
  color: #00a8e0;
}
.bc-atlassian:before {
  content: "\e941";
  color: #0052cc;
}
.bc-atom:before {
  content: "\e942";
  color: #66595c;
}
.bc-audi:before {
  content: "\e943";
  color: #bb0a30;
}
.bc-audible:before {
  content: "\e944";
  color: #f8991c;
}
.bc-aurelia:before {
  content: "\e945";
  color: #ed2b88;
}
.bc-auth0:before {
  content: "\e946";
  color: #eb5424;
}
.bc-automatic:before {
  content: "\e947";
  color: #7d8084;
}
.bc-autotask:before {
  content: "\e948";
  color: #e51937;
}
.bc-aventrix:before {
  content: "\e949";
  color: #09d;
}
.bc-awesomewm:before {
  content: "\e94a";
  color: #535d6c;
}
.bc-azureartifacts:before {
  content: "\e94b";
  color: #cb2e6d;
}
.bc-azuredevops:before {
  content: "\e94c";
  color: #0078d7;
}
.bc-azurepipelines:before {
  content: "\e94d";
  color: #2560e0;
}
.bc-babel:before {
  content: "\e94e";
  color: #f9dc3e;
}
.bc-baidu:before {
  content: "\e94f";
  color: #2319dc;
}
.bc-bamboo:before {
  content: "\e950";
  color: #0052cc;
}
.bc-bancontact:before {
  content: "\e951";
  color: #005498;
}
.bc-bandcamp:before {
  content: "\e952";
  color: #408294;
}
.bc-bandlab:before {
  content: "\e953";
  color: #dc3710;
}
.bc-basecamp:before {
  content: "\e954";
  color: #5ecc62;
}
.bc-bathasu:before {
  content: "\e955";
  color: #00a3e0;
}
.bc-beats:before {
  content: "\e956";
  color: #005571;
}
.bc-beatsbydre:before {
  content: "\e957";
  color: #e01f3d;
}
.bc-behance:before {
  content: "\e958";
  color: #1769ff;
}
.bc-bigcartel:before {
  content: "\e959";
}
.bc-bing:before {
  content: "\e95a";
  color: #008373;
}
.bc-bit:before {
  content: "\e95b";
  color: #73398d;
}
.bc-bitbucket:before {
  content: "\e95c";
  color: #0052cc;
}
.bc-bitcoin:before {
  content: "\e95d";
  color: #f7931a;
}
.bc-bitdefender:before {
  content: "\e95e";
  color: #ed1c24;
}
.bc-bitly:before {
  content: "\e95f";
  color: #ee6123;
}
.bc-bitrise:before {
  content: "\e960";
  color: #683d87;
}
.bc-blackberry:before {
  content: "\e961";
}
.bc-blender:before {
  content: "\e962";
  color: #f5792a;
}
.bc-blogger:before {
  content: "\e963";
  color: #ff5722;
}
.bc-bmcsoftware:before {
  content: "\e964";
  color: #fe5000;
}
.bc-boeing:before {
  content: "\e965";
  color: #1d439c;
}
.bc-boost:before {
  content: "\e966";
  color: #f69220;
}
.bc-bootstrap:before {
  content: "\e967";
  color: #563d7c;
}
.bc-bower:before {
  content: "\e968";
  color: #ef5734;
}
.bc-box:before {
  content: "\e969";
  color: #0061d5;
}
.bc-brand-dot-ai:before {
  content: "\e96a";
  color: #0aa0ff;
}
.bc-brandfolder:before {
  content: "\e96b";
  color: #40d1f5;
}
.bc-brave:before {
  content: "\e96c";
  color: #fb542b;
}
.bc-breaker:before {
  content: "\e96d";
  color: #003dad;
}
.bc-broadcom:before {
  content: "\e96e";
  color: #cc092f;
}
.bc-buddy:before {
  content: "\e96f";
  color: #1a86fd;
}
.bc-buffer:before {
  content: "\e970";
  color: #168eea;
}
.bc-buymeacoffee:before {
  content: "\e971";
  color: #ff813f;
}
.bc-buzzfeed:before {
  content: "\e972";
  color: #e32;
}
.bc-c:before {
  content: "\e973";
  color: #a8b9cc;
}
.bc-cakephp:before {
  content: "\e974";
  color: #d33c43;
}
.bc-campaignmonitor:before {
  content: "\e975";
  color: #509cf6;
}
.bc-canva:before {
  content: "\e976";
  color: #00c4cc;
}
.bc-cashapp:before {
  content: "\e977";
  color: #00c244;
}
.bc-cassandra:before {
  content: "\e978";
  color: #1287b1;
}
.bc-castorama:before {
  content: "\e979";
  color: #0078d7;
}
.bc-castro:before {
  content: "\e97a";
  color: #00b265;
}
.bc-centos:before {
  content: "\e97b";
  color: #262577;
}
.bc-cevo:before {
  content: "\e97c";
  color: #1eabe2;
}
.bc-chase:before {
  content: "\e97d";
  color: #117aca;
}
.bc-chef:before {
  content: "\e97e";
  color: #f09820;
}
.bc-circle:before {
  content: "\e97f";
  color: #8669ae;
}
.bc-circleci:before {
  content: "\e980";
}
.bc-cirrusci:before {
  content: "\e981";
}
.bc-cisco:before {
  content: "\e982";
  color: #1ba0d7;
}
.bc-civicrm:before {
  content: "\e983";
  color: #81c459;
}
.bc-clockify:before {
  content: "\e984";
  color: #03a9f4;
}
.bc-clojure:before {
  content: "\e985";
  color: #5881d8;
}
.bc-cloudbees:before {
  content: "\e986";
  color: #1997b5;
}
.bc-cloudflare:before {
  content: "\e987";
  color: #f38020;
}
.bc-cmake:before {
  content: "\e988";
  color: #064f8c;
}
.bc-co-op:before {
  content: "\e989";
  color: #00b1e7;
}
.bc-codacy:before {
  content: "\e98a";
}
.bc-codecademy:before {
  content: "\e98b";
  color: #1f4056;
}
.bc-codechef:before {
  content: "\e98c";
  color: #5b4638;
}
.bc-codeclimate:before {
  content: "\e98d";
}
.bc-codecov:before {
  content: "\e98e";
  color: #f01f7a;
}
.bc-codefactor:before {
  content: "\e98f";
  color: #f44a6a;
}
.bc-codeforces:before {
  content: "\e990";
  color: #1f8acb;
}
.bc-codeigniter:before {
  content: "\e991";
  color: #ee4623;
}
.bc-codepen:before {
  content: "\e992";
}
.bc-coderwall:before {
  content: "\e993";
  color: #3e8dcc;
}
.bc-codesandbox:before {
  content: "\e994";
}
.bc-codeship:before {
  content: "\e995";
  color: #3c4858;
}
.bc-codewars:before {
  content: "\e996";
  color: #ad2c27;
}
.bc-codio:before {
  content: "\e997";
  color: #4574e0;
}
.bc-coffeescript:before {
  content: "\e998";
}
.bc-coinbase:before {
  content: "\e999";
  color: #0667d0;
}
.bc-commonworkflowlanguage:before {
  content: "\e99a";
  color: #b5314c;
}
.bc-composer:before {
  content: "\e99b";
  color: #885630;
}
.bc-compropago:before {
  content: "\e99c";
  color: #00aaef;
}
.bc-conda-forge:before {
  content: "\e99d";
}
.bc-conekta:before {
  content: "\e99e";
  color: #414959;
}
.bc-confluence:before {
  content: "\e99f";
}
.bc-coronarenderer:before {
  content: "\e9a0";
  color: #e6502a;
}
.bc-coursera:before {
  content: "\e9a1";
  color: #2a73cc;
}
.bc-coveralls:before {
  content: "\e9a2";
  color: #3f5767;
}
.bc-cpanel:before {
  content: "\e9a3";
  color: #ff6c2c;
}
.bc-cplusplus:before {
  content: "\e9a4";
  color: #00599c;
}
.bc-creativecommons:before {
  content: "\e9a5";
  color: #ef9421;
}
.bc-crehana:before {
  content: "\e9a6";
  color: #4b22f4;
}
.bc-crunchbase:before {
  content: "\e9a7";
  color: #0288d1;
}
.bc-crunchyroll:before {
  content: "\e9a8";
  color: #f47521;
}
.bc-cryengine:before {
  content: "\e9a9";
}
.bc-csharp:before {
  content: "\e9aa";
  color: #239120;
}
.bc-css3:before {
  content: "\e9ab";
  color: #1572b6;
}
.bc-csswizardry:before {
  content: "\e9ac";
  color: #f43059;
}
.bc-curl:before {
  content: "\e9ad";
}
.bc-d3-dot-js:before {
  content: "\e9ae";
  color: #f9a03c;
}
.bc-dailymotion:before {
  content: "\e9af";
  color: #0066dc;
}
.bc-dart:before {
  content: "\e9b0";
  color: #0175c2;
}
.bc-dashlane:before {
  content: "\e9b1";
  color: #007c97;
}
.bc-datacamp:before {
  content: "\e9b2";
  color: #3ac;
}
.bc-dazn:before {
  content: "\e9b3";
  color: #f8f8f5;
}
.bc-dblp:before {
  content: "\e9b4";
  color: #004f9f;
}
.bc-debian:before {
  content: "\e9b5";
  color: #a81d33;
}
.bc-deepin:before {
  content: "\e9b6";
  color: #007cff;
}
.bc-deezer:before {
  content: "\e9b7";
  color: #feaa2d;
}
.bc-delicious:before {
  content: "\e9b8";
  color: #39f;
}
.bc-deliveroo:before {
  content: "\e9b9";
  color: #00ccbc;
}
.bc-dell:before {
  content: "\e9ba";
  color: #007db8;
}
.bc-deno:before {
  content: "\e9bb";
}
.bc-dependabot:before {
  content: "\e9bc";
  color: #025e8c;
}
.bc-designernews:before {
  content: "\e9bd";
  color: #2d72d9;
}
.bc-dev-dot-to:before {
  content: "\e9be";
}
.bc-deviantart:before {
  content: "\e9bf";
  color: #05cc47;
}
.bc-devrant:before {
  content: "\e9c0";
  color: #f99a66;
}
.bc-diaspora:before {
  content: "\e9c1";
}
.bc-digg:before {
  content: "\e9c2";
}
.bc-digitalocean:before {
  content: "\e9c3";
  color: #0080ff;
}
.bc-directus:before {
  content: "\e9c4";
}
.bc-discord:before {
  content: "\e9c5";
  color: #7289da;
}
.bc-discourse:before {
  content: "\e9c6";
}
.bc-discover:before {
  content: "\e9c7";
  color: #ff6000;
}
.bc-disqus:before {
  content: "\e9c8";
  color: #2e9fff;
}
.bc-disroot:before {
  content: "\e9c9";
  color: #50162d;
}
.bc-django:before {
  content: "\e9ca";
}
.bc-dlna:before {
  content: "\e9cb";
  color: #48a842;
}
.bc-docker:before {
  content: "\e9cc";
  color: #1488c6;
}
.bc-docusign:before {
  content: "\e9cd";
  color: #fc2;
}
.bc-dolby:before {
  content: "\e9ce";
}
.bc-dot-net:before {
  content: "\e9cf";
  color: #5c2d91;
}
.bc-draugiem-dot-lv:before {
  content: "\e9d0";
  color: #f60;
}
.bc-dribbble:before {
  content: "\e9d1";
  color: #ea4c89;
}
.bc-drone:before {
  content: "\e9d2";
}
.bc-dropbox:before {
  content: "\e9d3";
  color: #0061ff;
}
.bc-drupal:before {
  content: "\e9d4";
  color: #0678be;
}
.bc-dtube:before {
  content: "\e9d5";
  color: #f00;
}
.bc-duckduckgo:before {
  content: "\e9d6";
  color: #de5833;
}
.bc-dunked:before {
  content: "\e9d7";
  color: #2da9d7;
}
.bc-duolingo:before {
  content: "\e9d8";
  color: #58cc02;
}
.bc-dynatrace:before {
  content: "\e9d9";
  color: #1496ff;
}
.bc-ebay:before {
  content: "\e9da";
  color: #e53238;
}
.bc-eclipseide:before {
  content: "\e9db";
  color: #2c2255;
}
.bc-elastic:before {
  content: "\e9dc";
  color: #005571;
}
.bc-elasticcloud:before {
  content: "\e9dd";
  color: #005571;
}
.bc-elasticsearch:before {
  content: "\e9de";
  color: #005571;
}
.bc-elasticstack:before {
  content: "\e9df";
  color: #005571;
}
.bc-electron:before {
  content: "\e9e0";
  color: #47848f;
}
.bc-elementary:before {
  content: "\e9e1";
  color: #64baff;
}
.bc-eleventy:before {
  content: "\e9e2";
}
.bc-ello:before {
  content: "\e9e3";
}
.bc-elsevier:before {
  content: "\e9e4";
  color: #ff6c00;
}
.bc-ember-dot-js:before {
  content: "\e9e5";
  color: #e04e39;
}
.bc-emlakjet:before {
  content: "\e9e6";
  color: #0ae524;
}
.bc-empirekred:before {
  content: "\e9e7";
  color: #72be50;
}
.bc-envato:before {
  content: "\e9e8";
  color: #81b441;
}
.bc-epel:before {
  content: "\e9e9";
  color: #fc0000;
}
.bc-epicgames:before {
  content: "\e9ea";
}
.bc-epson:before {
  content: "\e9eb";
  color: #039;
}
.bc-esea:before {
  content: "\e9ec";
  color: #0e9648;
}
.bc-eslint:before {
  content: "\e9ed";
  color: #4b32c3;
}
.bc-ethereum:before {
  content: "\e9ee";
}
.bc-etsy:before {
  content: "\e9ef";
  color: #f16521;
}
.bc-eventbrite:before {
  content: "\e9f0";
  color: #f05537;
}
.bc-eventstore:before {
  content: "\e9f1";
  color: #5ab552;
}
.bc-evernote:before {
  content: "\e9f2";
  color: #00a82d;
}
.bc-everplaces:before {
  content: "\e9f3";
  color: #fa4b32;
}
.bc-evry:before {
  content: "\e9f4";
  color: #063a54;
}
.bc-exercism:before {
  content: "\e9f5";
  color: #009cab;
}
.bc-expertsexchange:before {
  content: "\e9f6";
  color: #00aae7;
}
.bc-expo:before {
  content: "\e9f7";
}
.bc-eyeem:before {
  content: "\e9f8";
}
.bc-f-droid:before {
  content: "\e9f9";
  color: #1976d2;
}
.bc-f-secure:before {
  content: "\e9fa";
  color: #00baff;
}
.bc-facebook:before {
  content: "\e9fb";
  color: #1877f2;
}
.bc-faceit:before {
  content: "\e9fc";
  color: #f50;
}
.bc-fandango:before {
  content: "\e9fd";
  color: #ff7300;
}
.bc-favro:before {
  content: "\e9fe";
  color: #512da8;
}
.bc-feathub:before {
  content: "\e9ff";
  color: #9b9b9b;
}
.bc-fedora:before {
  content: "\ea00";
  color: #294172;
}
.bc-feedly:before {
  content: "\ea01";
  color: #2bb24c;
}
.bc-fidoalliance:before {
  content: "\ea02";
  color: #ffbf3b;
}
.bc-figma:before {
  content: "\ea03";
  color: #f24e1e;
}
.bc-filezilla:before {
  content: "\ea04";
  color: #bf0000;
}
.bc-firebase:before {
  content: "\ea05";
  color: #ffca28;
}
.bc-fitbit:before {
  content: "\ea06";
  color: #00b0b9;
}
.bc-fiverr:before {
  content: "\ea07";
  color: #1dbf73;
}
.bc-flask:before {
  content: "\ea08";
}
.bc-flattr:before {
  content: "\ea09";
}
.bc-flickr:before {
  content: "\ea0a";
  color: #0063dc;
}
.bc-flipboard:before {
  content: "\ea0b";
  color: #e12828;
}
.bc-floatplane:before {
  content: "\ea0c";
  color: #00aeef;
}
.bc-flutter:before {
  content: "\ea0d";
  color: #02569b;
}
.bc-fnac:before {
  content: "\ea0e";
  color: #e1a925;
}
.bc-formstack:before {
  content: "\ea0f";
  color: #21b573;
}
.bc-fossa:before {
  content: "\ea10";
  color: #90a1b8;
}
.bc-fossilscm:before {
  content: "\ea11";
  color: #548294;
}
.bc-foursquare:before {
  content: "\ea12";
  color: #f94877;
}
.bc-framer:before {
  content: "\ea13";
  color: #05f;
}
.bc-freebsd:before {
  content: "\ea14";
  color: #ab2b28;
}
.bc-freecodecamp:before {
  content: "\ea15";
  color: #006400;
}
.bc-fujifilm:before {
  content: "\ea16";
  color: #ed1a3a;
}
.bc-fujitsu:before {
  content: "\ea17";
  color: #f00;
}
.bc-furaffinity:before {
  content: "\ea18";
  color: #faaf3a;
}
.bc-furrynetwork:before {
  content: "\ea19";
  color: #2e75b4;
}
.bc-garmin:before {
  content: "\ea1a";
  color: #007cc3;
}
.bc-gatsby:before {
  content: "\ea1b";
  color: #639;
}
.bc-gauges:before {
  content: "\ea1c";
  color: #2fa66a;
}
.bc-genius:before {
  content: "\ea1d";
  color: #ffff64;
}
.bc-gentoo:before {
  content: "\ea1e";
  color: #54487a;
}
.bc-geocaching:before {
  content: "\ea1f";
  color: #00874d;
}
.bc-gerrit:before {
  content: "\ea20";
  color: #eee;
}
.bc-ghost:before {
  content: "\ea21";
  color: #738a94;
}
.bc-gimp:before {
  content: "\ea22";
  color: #5c5543;
}
.bc-git:before {
  content: "\ea23";
  color: #f05032;
}
.bc-gitea:before {
  content: "\ea24";
  color: #609926;
}
.bc-github:before {
  content: "\ea25";
}
.bc-gitlab:before {
  content: "\ea26";
  color: #fca121;
}
.bc-gitpod:before {
  content: "\ea27";
  color: #1aa6e4;
}
.bc-gitter:before {
  content: "\ea28";
  color: #ed1965;
}
.bc-glassdoor:before {
  content: "\ea29";
  color: #0caa41;
}
.bc-glitch:before {
  content: "\ea2a";
  color: #33f;
}
.bc-gmail:before {
  content: "\ea2b";
  color: #d14836;
}
.bc-gnome:before {
  content: "\ea2c";
  color: #4a86cf;
}
.bc-gnu:before {
  content: "\ea2d";
  color: #a42e2b;
}
.bc-gnuicecat:before {
  content: "\ea2e";
  color: #002f5b;
}
.bc-gnuprivacyguard:before {
  content: "\ea2f";
  color: #0093dd;
}
.bc-gnusocial:before {
  content: "\ea30";
  color: #a22430;
}
.bc-go:before {
  content: "\ea31";
  color: #00add8;
}
.bc-godotengine:before {
  content: "\ea32";
  color: #478cbf;
}
.bc-gog-dot-com:before {
  content: "\ea33";
  color: #86328a;
}
.bc-goldenline:before {
  content: "\ea34";
  color: #f1b92b;
}
.bc-goodreads:before {
  content: "\ea35";
  color: #630;
}
.bc-google:before {
  content: "\ea36";
  color: #4285f4;
}
.bc-googleads:before {
  content: "\ea37";
  color: #4285f4;
}
.bc-googleanalytics:before {
  content: "\ea38";
  color: #ffc107;
}
.bc-googlechrome:before {
  content: "\ea39";
  color: #4285f4;
}
.bc-googlecloud:before {
  content: "\ea3a";
  color: #4285f4;
}
.bc-googledrive:before {
  content: "\ea3b";
  color: #4285f4;
}
.bc-googlehangouts:before {
  content: "\ea3c";
  color: #0c9d58;
}
.bc-googlehangoutschat:before {
  content: "\ea3d";
  color: #00897b;
}
.bc-googlekeep:before {
  content: "\ea3e";
  color: #fb0;
}
.bc-googlepay:before {
  content: "\ea3f";
  color: #5f6368;
}
.bc-googleplay:before {
  content: "\ea40";
  color: #607d8b;
}
.bc-googlepodcasts:before {
  content: "\ea41";
  color: #4285f4;
}
.bc-googlescholar:before {
  content: "\ea42";
  color: #4885ed;
}
.bc-googlesearchconsole:before {
  content: "\ea43";
  color: #458cf5;
}
.bc-gov-dot-uk:before {
  content: "\ea44";
  color: #005ea5;
}
.bc-gradle:before {
  content: "\ea45";
}
.bc-grafana:before {
  content: "\ea46";
  color: #f46800;
}
.bc-graphcool:before {
  content: "\ea47";
  color: #27ae60;
}
.bc-graphql:before {
  content: "\ea48";
  color: #e10098;
}
.bc-grav:before {
  content: "\ea49";
}
.bc-gravatar:before {
  content: "\ea4a";
  color: #1e8cbe;
}
.bc-greenkeeper:before {
  content: "\ea4b";
  color: #00c775;
}
.bc-greensock:before {
  content: "\ea4c";
  color: #88ce02;
}
.bc-groovy:before {
  content: "\ea4d";
  color: #4298b8;
}
.bc-groupon:before {
  content: "\ea4e";
  color: #53a318;
}
.bc-gulp:before {
  content: "\ea4f";
  color: #da4648;
}
.bc-gumroad:before {
  content: "\ea50";
  color: #36a9ae;
}
.bc-gumtree:before {
  content: "\ea51";
  color: #72ef36;
}
.bc-gutenberg:before {
  content: "\ea52";
}
.bc-habr:before {
  content: "\ea53";
  color: #77a2b6;
}
.bc-hackaday:before {
  content: "\ea54";
}
.bc-hackerearth:before {
  content: "\ea55";
  color: #323754;
}
.bc-hackerone:before {
  content: "\ea56";
  color: #494649;
}
.bc-hackerrank:before {
  content: "\ea57";
  color: #2ec866;
}
.bc-hackhands:before {
  content: "\ea58";
  color: #00acbd;
}
.bc-hackster:before {
  content: "\ea59";
  color: #1bacf7;
}
.bc-happycow:before {
  content: "\ea5a";
  color: #7c4ec4;
}
.bc-hashnode:before {
  content: "\ea5b";
  color: #2962ff;
}
.bc-haskell:before {
  content: "\ea5c";
  color: #5d4f85;
}
.bc-hatenabookmark:before {
  content: "\ea5d";
  color: #00a4de;
}
.bc-haxe:before {
  content: "\ea5e";
  color: #ea8220;
}
.bc-helm:before {
  content: "\ea5f";
  color: #277a9f;
}
.bc-here:before {
  content: "\ea60";
  color: #48dad0;
}
.bc-heroku:before {
  content: "\ea61";
  color: #430098;
}
.bc-hexo:before {
  content: "\ea62";
  color: #0e83cd;
}
.bc-highly:before {
  content: "\ea63";
  color: #ff3c00;
}
.bc-hipchat:before {
  content: "\ea64";
  color: #0052cc;
}
.bc-hitachi:before {
  content: "\ea65";
  color: #e60027;
}
.bc-hockeyapp:before {
  content: "\ea66";
  color: #009ee1;
}
.bc-homeassistant:before {
  content: "\ea67";
  color: #41bdf5;
}
.bc-homify:before {
  content: "\ea68";
  color: #7dcda3;
}
.bc-hootsuite:before {
  content: "\ea69";
}
.bc-houzz:before {
  content: "\ea6a";
  color: #4dbc15;
}
.bc-hp:before {
  content: "\ea6b";
  color: #0096d6;
}
.bc-html5:before {
  content: "\ea6c";
  color: #e34f26;
}
.bc-htmlacademy:before {
  content: "\ea6d";
  color: #302683;
}
.bc-huawei:before {
  content: "\ea6e";
  color: #f00;
}
.bc-hubspot:before {
  content: "\ea6f";
  color: #ff7a59;
}
.bc-hulu:before {
  content: "\ea70";
  color: #3dbb3d;
}
.bc-humblebundle:before {
  content: "\ea71";
  color: #cc2929;
}
.bc-hurriyetemlak:before {
  content: "\ea72";
  color: #e02826;
}
.bc-hypothesis:before {
  content: "\ea73";
  color: #bd1c2b;
}
.bc-iata:before {
  content: "\ea74";
  color: #004e81;
}
.bc-ibm:before {
  content: "\ea75";
  color: #054ada;
}
.bc-icloud:before {
  content: "\ea76";
  color: #3693f3;
}
.bc-icomoon:before {
  content: "\ea77";
  color: #825794;
}
.bc-icon:before {
  content: "\ea78";
  color: #31b8bb;
}
.bc-iconjar:before {
  content: "\ea79";
  color: #16a5f3;
}
.bc-icq:before {
  content: "\ea7a";
  color: #7ebd00;
}
.bc-ideal:before {
  content: "\ea7b";
  color: #c06;
}
.bc-ifixit:before {
  content: "\ea7c";
  color: #0071ce;
}
.bc-imdb:before {
  content: "\ea7d";
  color: #e6b91e;
}
.bc-imgur:before {
  content: "\ea7e";
  color: #1bb76e;
}
.bc-indeed:before {
  content: "\ea7f";
  color: #2164f3;
}
.bc-influxdb:before {
  content: "\ea80";
  color: #22adf6;
}
.bc-inkscape:before {
  content: "\ea81";
}
.bc-instacart:before {
  content: "\ea82";
  color: #43b02a;
}
.bc-instagram:before {
  content: "\ea83";
  color: #e4405f;
}
.bc-instapaper:before {
  content: "\ea84";
}
.bc-intel:before {
  content: "\ea85";
  color: #0071c5;
}
.bc-intellijidea:before {
  content: "\ea86";
}
.bc-intercom:before {
  content: "\ea87";
  color: #1f8ded;
}
.bc-internetarchive:before {
  content: "\ea88";
}
.bc-internetexplorer:before {
  content: "\ea89";
  color: #0076d6;
}
.bc-invision:before {
  content: "\ea8a";
  color: #f36;
}
.bc-invoiceninja:before {
  content: "\ea8b";
}
.bc-ionic:before {
  content: "\ea8c";
  color: #3880ff;
}
.bc-ios:before {
  content: "\ea8d";
}
.bc-ipfs:before {
  content: "\ea8e";
  color: #65c2cb;
}
.bc-issuu:before {
  content: "\ea8f";
  color: #f36d5d;
}
.bc-itch-dot-io:before {
  content: "\ea90";
  color: #fa5c5c;
}
.bc-itunes:before {
  content: "\ea91";
  color: #fb5bc5;
}
.bc-jabber:before {
  content: "\ea92";
  color: #c00;
}
.bc-java:before {
  content: "\ea93";
  color: #007396;
}
.bc-javascript:before {
  content: "\ea94";
  color: #f7df1e;
}
.bc-jekyll:before {
  content: "\ea95";
  color: #c00;
}
.bc-jenkins:before {
  content: "\ea96";
  color: #d24939;
}
.bc-jest:before {
  content: "\ea97";
  color: #c21325;
}
.bc-jet:before {
  content: "\ea98";
  color: #fbba00;
}
.bc-jetbrains:before {
  content: "\ea99";
}
.bc-jinja:before {
  content: "\ea9a";
  color: #b41717;
}
.bc-jira:before {
  content: "\ea9b";
}
.bc-joomla:before {
  content: "\ea9c";
  color: #5091cd;
}
.bc-jquery:before {
  content: "\ea9d";
  color: #0769ad;
}
.bc-jsdelivr:before {
  content: "\ea9e";
  color: #e84d3d;
}
.bc-jsfiddle:before {
  content: "\ea9f";
  color: #4679a4;
}
.bc-json:before {
  content: "\eaa0";
}
.bc-jupyter:before {
  content: "\eaa1";
  color: #f37626;
}
.bc-justgiving:before {
  content: "\eaa2";
  color: #ad29b6;
}
.bc-kaggle:before {
  content: "\eaa3";
  color: #20beff;
}
.bc-kaios:before {
  content: "\eaa4";
  color: #6f02b5;
}
.bc-kaspersky:before {
  content: "\eaa5";
  color: #009982;
}
.bc-kentico:before {
  content: "\eaa6";
  color: #f05a22;
}
.bc-keras:before {
  content: "\eaa7";
  color: #d00000;
}
.bc-keybase:before {
  content: "\eaa8";
  color: #33a0ff;
}
.bc-keycdn:before {
  content: "\eaa9";
  color: #3686be;
}
.bc-khanacademy:before {
  content: "\eaaa";
  color: #14bf96;
}
.bc-kibana:before {
  content: "\eaab";
  color: #005571;
}
.bc-kickstarter:before {
  content: "\eaac";
  color: #2bde73;
}
.bc-kik:before {
  content: "\eaad";
  color: #82bc23;
}
.bc-kirby:before {
  content: "\eaae";
  color: #ff0100;
}
.bc-klout:before {
  content: "\eaaf";
  color: #e44600;
}
.bc-known:before {
  content: "\eab0";
}
.bc-ko-fi:before {
  content: "\eab1";
  color: #f16061;
}
.bc-kodi:before {
  content: "\eab2";
  color: #17b2e7;
}
.bc-koding:before {
  content: "\eab3";
  color: #00b057;
}
.bc-kotlin:before {
  content: "\eab4";
  color: #0095d5;
}
.bc-krita:before {
  content: "\eab5";
  color: #3babff;
}
.bc-kubernetes:before {
  content: "\eab6";
  color: #326ce5;
}
.bc-laravel:before {
  content: "\eab7";
  color: #ff2d20;
}
.bc-laravelhorizon:before {
  content: "\eab8";
  color: #405263;
}
.bc-laravelnova:before {
  content: "\eab9";
}
.bc-last-dot-fm:before {
  content: "\eaba";
  color: #d51007;
}
.bc-lastpass:before {
  content: "\eabb";
  color: #d32d27;
}
.bc-latex:before {
  content: "\eabc";
  color: #008080;
}
.bc-launchpad:before {
  content: "\eabd";
  color: #f8c300;
}
.bc-leetcode:before {
  content: "\eabe";
  color: #f89f1b;
}
.bc-lenovo:before {
  content: "\eabf";
  color: #e2231a;
}
.bc-letsencrypt:before {
  content: "\eac0";
  color: #003a70;
}
.bc-letterboxd:before {
  content: "\eac1";
  color: #00d735;
}
.bc-lgtm:before {
  content: "\eac2";
  color: #fff;
}
.bc-liberapay:before {
  content: "\eac3";
  color: #f6c915;
}
.bc-librarything:before {
  content: "\eac4";
}
.bc-libreoffice:before {
  content: "\eac5";
  color: #18a303;
}
.bc-line:before {
  content: "\eac6";
  color: #00c300;
}
.bc-linewebtoon:before {
  content: "\eac7";
  color: #00d564;
}
.bc-linkedin:before {
  content: "\eac8";
  color: #0077b5;
}
.bc-linode:before {
  content: "\eac9";
  color: #00a95c;
}
.bc-linux:before {
  content: "\eaca";
  color: #fcc624;
}
.bc-linuxfoundation:before {
  content: "\eacb";
  color: #009bee;
}
.bc-linuxmint:before {
  content: "\eacc";
  color: #87cf3e;
}
.bc-livejournal:before {
  content: "\eacd";
  color: #00b0ea;
}
.bc-livestream:before {
  content: "\eace";
  color: #cf202e;
}
.bc-llvm:before {
  content: "\eacf";
}
.bc-logstash:before {
  content: "\ead0";
  color: #005571;
}
.bc-loop:before {
  content: "\ead1";
  color: #f29400;
}
.bc-lua:before {
  content: "\ead2";
  color: #2c2d72;
}
.bc-lufthansa:before {
  content: "\ead3";
  color: #05164d;
}
.bc-lumen:before {
  content: "\ead4";
  color: #e74430;
}
.bc-lyft:before {
  content: "\ead5";
  color: #ff00bf;
}
.bc-macys:before {
  content: "\ead6";
  color: #e21a2c;
}
.bc-magento:before {
  content: "\ead7";
  color: #ee672f;
}
.bc-magisk:before {
  content: "\ead8";
  color: #00af9c;
}
.bc-mail-dot-ru:before {
  content: "\ead9";
  color: #168de2;
}
.bc-mailchimp:before {
  content: "\eada";
  color: #ffe01b;
}
.bc-makerbot:before {
  content: "\eadb";
  color: #ff1e0d;
}
.bc-manageiq:before {
  content: "\eadc";
  color: #ef2929;
}
.bc-manjaro:before {
  content: "\eadd";
  color: #35bf5c;
}
.bc-mapbox:before {
  content: "\eade";
}
.bc-markdown:before {
  content: "\eadf";
}
.bc-marketo:before {
  content: "\eae0";
  color: #5c4c9f;
}
.bc-mastercard:before {
  content: "\eae1";
  color: #eb001b;
}
.bc-mastodon:before {
  content: "\eae2";
  color: #3088d4;
}
.bc-materialdesign:before {
  content: "\eae3";
  color: #757575;
}
.bc-mathworks:before {
  content: "\eae4";
  color: #0076a8;
}
.bc-matrix:before {
  content: "\eae5";
}
.bc-mattermost:before {
  content: "\eae6";
  color: #0072c6;
}
.bc-matternet:before {
  content: "\eae7";
}
.bc-mcafee:before {
  content: "\eae8";
  color: #c01818;
}
.bc-mdnwebdocs:before {
  content: "\eae9";
}
.bc-mediafire:before {
  content: "\eaea";
  color: #1299f3;
}
.bc-mediatemple:before {
  content: "\eaeb";
}
.bc-medium:before {
  content: "\eaec";
}
.bc-meetup:before {
  content: "\eaed";
  color: #ed1c40;
}
.bc-mega:before {
  content: "\eaee";
  color: #d9272e;
}
.bc-mendeley:before {
  content: "\eaef";
  color: #9d1620;
}
.bc-mercedes:before {
  content: "\eaf0";
}
.bc-messenger:before {
  content: "\eaf1";
  color: #00b2ff;
}
.bc-meteor:before {
  content: "\eaf2";
  color: #de4f4f;
}
.bc-micro-dot-blog:before {
  content: "\eaf3";
  color: #fd8308;
}
.bc-microgenetics:before {
  content: "\eaf4";
  color: #f00;
}
.bc-microsoft:before {
  content: "\eaf5";
  color: #666;
}
.bc-microsoftaccess:before {
  content: "\eaf6";
  color: #ba141a;
}
.bc-microsoftazure:before {
  content: "\eaf7";
  color: #0089d6;
}
.bc-microsoftedge:before {
  content: "\eaf8";
  color: #0078d7;
}
.bc-microsoftexcel:before {
  content: "\eaf9";
  color: #217346;
}
.bc-microsoftoffice:before {
  content: "\eafa";
  color: #e74025;
}
.bc-microsoftonedrive:before {
  content: "\eafb";
  color: #094ab2;
}
.bc-microsoftonenote:before {
  content: "\eafc";
  color: #80397b;
}
.bc-microsoftoutlook:before {
  content: "\eafd";
  color: #0072c6;
}
.bc-microsoftpowerpoint:before {
  content: "\eafe";
  color: #d24726;
}
.bc-microsoftteams:before {
  content: "\eaff";
  color: #6264a7;
}
.bc-microsoftword:before {
  content: "\eb00";
  color: #2b579a;
}
.bc-microstrategy:before {
  content: "\eb01";
  color: #d9232e;
}
.bc-minds:before {
  content: "\eb02";
  color: #fed12f;
}
.bc-minetest:before {
  content: "\eb03";
  color: #53ac56;
}
.bc-minutemailer:before {
  content: "\eb04";
  color: #3abfe6;
}
.bc-mix:before {
  content: "\eb05";
  color: #ff8126;
}
.bc-mixcloud:before {
  content: "\eb06";
  color: #314359;
}
.bc-mixer:before {
  content: "\eb07";
  color: #002050;
}
.bc-mojang:before {
  content: "\eb08";
  color: #db1f29;
}
.bc-monero:before {
  content: "\eb09";
  color: #f60;
}
.bc-mongodb:before {
  content: "\eb0a";
  color: #47a248;
}
.bc-monkeytie:before {
  content: "\eb0b";
  color: #ffc619;
}
.bc-monogram:before {
  content: "\eb0c";
  color: #fdb22a;
}
.bc-monster:before {
  content: "\eb0d";
  color: #6e46ae;
}
.bc-monzo:before {
  content: "\eb0e";
}
.bc-moo:before {
  content: "\eb0f";
  color: #00945e;
}
.bc-mozilla:before {
  content: "\eb10";
}
.bc-mozillafirefox:before {
  content: "\eb11";
  color: #ff7139;
}
.bc-musescore:before {
  content: "\eb12";
  color: #1a70b8;
}
.bc-mxlinux:before {
  content: "\eb13";
}
.bc-myspace:before {
  content: "\eb14";
}
.bc-mysql:before {
  content: "\eb15";
  color: #4479a1;
}
.bc-nativescript:before {
  content: "\eb16";
  color: #3655ff;
}
.bc-nec:before {
  content: "\eb17";
  color: #1414a0;
}
.bc-neo4j:before {
  content: "\eb18";
  color: #008cc1;
}
.bc-netflix:before {
  content: "\eb19";
  color: #e50914;
}
.bc-netlify:before {
  content: "\eb1a";
  color: #00c7b7;
}
.bc-next-dot-js:before {
  content: "\eb1b";
}
.bc-nextcloud:before {
  content: "\eb1c";
  color: #0082c9;
}
.bc-nextdoor:before {
  content: "\eb1d";
  color: #00b246;
}
.bc-nginx:before {
  content: "\eb1e";
  color: #269539;
}
.bc-nim:before {
  content: "\eb1f";
  color: #ffe953;
}
.bc-nintendo:before {
  content: "\eb20";
  color: #8f8f8f;
}
.bc-nintendo3ds:before {
  content: "\eb21";
  color: #d12228;
}
.bc-nintendogamecube:before {
  content: "\eb22";
  color: #6a5fbb;
}
.bc-nintendoswitch:before {
  content: "\eb23";
  color: #e60012;
}
.bc-node-dot-js:before {
  content: "\eb24";
  color: #393;
}
.bc-node-red:before {
  content: "\eb25";
  color: #8f0000;
}
.bc-nodemon:before {
  content: "\eb26";
  color: #76d04b;
}
.bc-nokia:before {
  content: "\eb27";
  color: #124191;
}
.bc-notion:before {
  content: "\eb28";
}
.bc-notist:before {
  content: "\eb29";
}
.bc-npm:before {
  content: "\eb2a";
  color: #cb3837;
}
.bc-nucleo:before {
  content: "\eb2b";
  color: #766dcc;
}
.bc-nuget:before {
  content: "\eb2c";
  color: #004880;
}
.bc-nutanix:before {
  content: "\eb2d";
  color: #024da1;
}
.bc-nuxt-dot-js:before {
  content: "\eb2e";
  color: #00c58e;
}
.bc-nvidia:before {
  content: "\eb2f";
  color: #76b900;
}
.bc-obsstudio:before {
  content: "\eb30";
}
.bc-ocaml:before {
  content: "\eb31";
  color: #ec6813;
}
.bc-octave:before {
  content: "\eb32";
  color: #0790c0;
}
.bc-octopusdeploy:before {
  content: "\eb33";
  color: #2f93e0;
}
.bc-oculus:before {
  content: "\eb34";
}
.bc-odnoklassniki:before {
  content: "\eb35";
  color: #f4731c;
}
.bc-openaccess:before {
  content: "\eb36";
  color: #f68212;
}
.bc-openapiinitiative:before {
  content: "\eb37";
  color: #6ba539;
}
.bc-opencollective:before {
  content: "\eb38";
  color: #7fadf2;
}
.bc-openid:before {
  content: "\eb39";
  color: #f78c40;
}
.bc-opensourceinitiative:before {
  content: "\eb3a";
  color: #3da639;
}
.bc-openssl:before {
  content: "\eb3b";
  color: #721412;
}
.bc-openstreetmap:before {
  content: "\eb3c";
  color: #7ebc6f;
}
.bc-opensuse:before {
  content: "\eb3d";
  color: #73ba25;
}
.bc-openvpn:before {
  content: "\eb3e";
  color: #ea7e20;
}
.bc-opera:before {
  content: "\eb3f";
  color: #ff1b2d;
}
.bc-opsgenie:before {
  content: "\eb40";
}
.bc-oracle:before {
  content: "\eb41";
  color: #f80000;
}
.bc-orcid:before {
  content: "\eb42";
  color: #a6ce39;
}
.bc-origin:before {
  content: "\eb43";
  color: #f56c2d;
}
.bc-osmc:before {
  content: "\eb44";
}
.bc-overcast:before {
  content: "\eb45";
  color: #fc7e0f;
}
.bc-overleaf:before {
  content: "\eb46";
  color: #47a141;
}
.bc-ovh:before {
  content: "\eb47";
  color: #123f6d;
}
.bc-pagekit:before {
  content: "\eb48";
}
.bc-palantir:before {
  content: "\eb49";
}
.bc-paloaltosoftware:before {
  content: "\eb4a";
  color: #83da77;
}
.bc-pandora:before {
  content: "\eb4b";
  color: #005483;
}
.bc-pantheon:before {
  content: "\eb4c";
  color: #efd01b;
}
.bc-parse-dot-ly:before {
  content: "\eb4d";
  color: #5ba745;
}
.bc-pastebin:before {
  content: "\eb4e";
  color: #02456c;
}
.bc-patreon:before {
  content: "\eb4f";
  color: #f96854;
}
.bc-paypal:before {
  content: "\eb50";
  color: #00457c;
}
.bc-peertube:before {
  content: "\eb51";
  color: #f1680d;
}
.bc-periscope:before {
  content: "\eb52";
  color: #40a4c4;
}
.bc-php:before {
  content: "\eb53";
  color: #777bb4;
}
.bc-pi-hole:before {
  content: "\eb54";
  color: #f60d1a;
}
.bc-picarto-dot-tv:before {
  content: "\eb55";
  color: #1da456;
}
.bc-pinboard:before {
  content: "\eb56";
  color: #00f;
}
.bc-pingdom:before {
  content: "\eb57";
  color: #fff000;
}
.bc-pingup:before {
  content: "\eb58";
  color: #00b1ab;
}
.bc-pinterest:before {
  content: "\eb59";
  color: #bd081c;
}
.bc-pivotaltracker:before {
  content: "\eb5a";
  color: #517a9e;
}
.bc-pjsip:before {
  content: "\eb5b";
  color: #f86001;
}
.bc-plangrid:before {
  content: "\eb5c";
  color: #0085de;
}
.bc-player-dot-me:before {
  content: "\eb5d";
  color: #c0379a;
}
.bc-playerfm:before {
  content: "\eb5e";
  color: #c8122a;
}
.bc-playstation:before {
  content: "\eb5f";
  color: #003791;
}
.bc-playstation3:before {
  content: "\eb60";
  color: #003791;
}
.bc-playstation4:before {
  content: "\eb61";
  color: #003791;
}
.bc-plesk:before {
  content: "\eb62";
  color: #52bbe6;
}
.bc-plex:before {
  content: "\eb63";
  color: #e5a00d;
}
.bc-pluralsight:before {
  content: "\eb64";
  color: #f15b2a;
}
.bc-plurk:before {
  content: "\eb65";
  color: #ff574d;
}
.bc-pocket:before {
  content: "\eb66";
  color: #ef3f56;
}
.bc-pocketcasts:before {
  content: "\eb67";
  color: #f43e37;
}
.bc-postgresql:before {
  content: "\eb68";
  color: #336791;
}
.bc-postman:before {
  content: "\eb69";
  color: #ff6c37;
}
.bc-postwoman:before {
  content: "\eb6a";
  color: #50fa7b;
}
.bc-powershell:before {
  content: "\eb6b";
  color: #5391fe;
}
.bc-prestashop:before {
  content: "\eb6c";
  color: #df0067;
}
.bc-prettier:before {
  content: "\eb6d";
  color: #f7b93e;
}
.bc-prismic:before {
  content: "\eb6e";
  color: #484a7a;
}
.bc-probot:before {
  content: "\eb6f";
  color: #00b0d8;
}
.bc-processwire:before {
  content: "\eb70";
  color: #ef145f;
}
.bc-producthunt:before {
  content: "\eb71";
  color: #da552f;
}
.bc-prometheus:before {
  content: "\eb72";
  color: #e6522c;
}
.bc-proto-dot-io:before {
  content: "\eb73";
  color: #34a7c1;
}
.bc-protonmail:before {
  content: "\eb74";
  color: #8b89cc;
}
.bc-proxmox:before {
  content: "\eb75";
  color: #e57000;
}
.bc-publons:before {
  content: "\eb76";
  color: #369;
}
.bc-purescript:before {
  content: "\eb77";
}
.bc-pypi:before {
  content: "\eb78";
  color: #3775a9;
}
.bc-python:before {
  content: "\eb79";
  color: #3776ab;
}
.bc-pytorch:before {
  content: "\eb7a";
  color: #ee4c2c;
}
.bc-pyup:before {
  content: "\eb7b";
  color: #9f55ff;
}
.bc-qemu:before {
  content: "\eb7c";
  color: #f60;
}
.bc-qgis:before {
  content: "\eb7d";
  color: #589632;
}
.bc-qiita:before {
  content: "\eb7e";
  color: #55c500;
}
.bc-qualcomm:before {
  content: "\eb7f";
  color: #3253dc;
}
.bc-quantcast:before {
  content: "\eb80";
}
.bc-quantopian:before {
  content: "\eb81";
  color: #c50000;
}
.bc-quarkus:before {
  content: "\eb82";
  color: #4695eb;
}
.bc-quicktime:before {
  content: "\eb83";
  color: #1c69f0;
}
.bc-quip:before {
  content: "\eb84";
  color: #f27557;
}
.bc-quora:before {
  content: "\eb85";
  color: #b92b27;
}
.bc-qwiklabs:before {
  content: "\eb86";
  color: #f5cd0e;
}
.bc-qzone:before {
  content: "\eb87";
  color: #fece00;
}
.bc-r:before {
  content: "\eb88";
  color: #276dc3;
}
.bc-rabbitmq:before {
  content: "\eb89";
  color: #f60;
}
.bc-radiopublic:before {
  content: "\eb8a";
  color: #ce262f;
}
.bc-rails:before {
  content: "\eb8b";
  color: #c00;
}
.bc-raspberrypi:before {
  content: "\eb8c";
  color: #c51a4a;
}
.bc-react:before {
  content: "\eb8d";
  color: #61dafb;
}
.bc-reactos:before {
  content: "\eb8e";
  color: #08c;
}
.bc-reactrouter:before {
  content: "\eb8f";
  color: #ca4245;
}
.bc-readthedocs:before {
  content: "\eb90";
  color: #8ca1af;
}
.bc-realm:before {
  content: "\eb91";
  color: #39477f;
}
.bc-reason:before {
  content: "\eb92";
  color: #dd4b39;
}
.bc-reasonstudios:before {
  content: "\eb93";
  color: #fff;
}
.bc-redbubble:before {
  content: "\eb94";
  color: #e41321;
}
.bc-reddit:before {
  content: "\eb95";
  color: #ff4500;
}
.bc-redhat:before {
  content: "\eb96";
  color: #e00;
}
.bc-redis:before {
  content: "\eb97";
  color: #d82c20;
}
.bc-redux:before {
  content: "\eb98";
  color: #764abc;
}
.bc-renren:before {
  content: "\eb99";
  color: #217dc6;
}
.bc-repl-dot-it:before {
  content: "\eb9a";
  color: #667881;
}
.bc-researchgate:before {
  content: "\eb9b";
  color: #0cb;
}
.bc-reverbnation:before {
  content: "\eb9c";
  color: #e43526;
}
.bc-riot:before {
  content: "\eb9d";
  color: #368bd6;
}
.bc-ripple:before {
  content: "\eb9e";
  color: #0085c0;
}
.bc-riseup:before {
  content: "\eb9f";
  color: #5e9ee3;
}
.bc-rollup-dot-js:before {
  content: "\eba0";
  color: #ec4a3f;
}
.bc-roots:before {
  content: "\eba1";
  color: #525ddc;
}
.bc-roundcube:before {
  content: "\eba2";
  color: #37beff;
}
.bc-rss:before {
  content: "\eba3";
  color: #ffa500;
}
.bc-rstudio:before {
  content: "\eba4";
  color: #75aadb;
}
.bc-ruby:before {
  content: "\eba5";
  color: #cc342d;
}
.bc-rubygems:before {
  content: "\eba6";
  color: #e9573f;
}
.bc-runkeeper:before {
  content: "\eba7";
  color: #2dc9d7;
}
.bc-rust:before {
  content: "\eba8";
}
.bc-safari:before {
  content: "\eba9";
}
.bc-sahibinden:before {
  content: "\ebaa";
  color: #ffe800;
}
.bc-salesforce:before {
  content: "\ebab";
  color: #00a1e0;
}
.bc-saltstack:before {
  content: "\ebac";
  color: #00eace;
}
.bc-samsung:before {
  content: "\ebad";
  color: #1428a0;
}
.bc-samsungpay:before {
  content: "\ebae";
  color: #1428a0;
}
.bc-sap:before {
  content: "\ebaf";
  color: #008fd3;
}
.bc-sass:before {
  content: "\ebb0";
  color: #c69;
}
.bc-saucelabs:before {
  content: "\ebb1";
  color: #e2231a;
}
.bc-scala:before {
  content: "\ebb2";
  color: #dc322f;
}
.bc-scaleway:before {
  content: "\ebb3";
  color: #4f0599;
}
.bc-scribd:before {
  content: "\ebb4";
  color: #1a7bba;
}
.bc-scrutinizerci:before {
  content: "\ebb5";
  color: #8a9296;
}
.bc-seagate:before {
  content: "\ebb6";
  color: #72be4f;
}
.bc-sega:before {
  content: "\ebb7";
  color: #0089cf;
}
.bc-sellfy:before {
  content: "\ebb8";
  color: #21b352;
}
.bc-semaphoreci:before {
  content: "\ebb9";
  color: #19a974;
}
.bc-sensu:before {
  content: "\ebba";
  color: #89c967;
}
.bc-sentry:before {
  content: "\ebbb";
  color: #fb4226;
}
.bc-serverfault:before {
  content: "\ebbc";
  color: #e7282d;
}
.bc-shazam:before {
  content: "\ebbd";
  color: #08f;
}
.bc-shell:before {
  content: "\ebbe";
  color: #ffd500;
}
.bc-shopify:before {
  content: "\ebbf";
  color: #7ab55c;
}
.bc-showpad:before {
  content: "\ebc0";
  color: #2d2e83;
}
.bc-siemens:before {
  content: "\ebc1";
  color: #099;
}
.bc-signal:before {
  content: "\ebc2";
  color: #2592e9;
}
.bc-simpleicons:before {
  content: "\ebc3";
}
.bc-sinaweibo:before {
  content: "\ebc4";
  color: #e6162d;
}
.bc-sitepoint:before {
  content: "\ebc5";
  color: #258aaf;
}
.bc-sketch:before {
  content: "\ebc6";
  color: #f7b500;
}
.bc-skillshare:before {
  content: "\ebc7";
  color: #17c5cb;
}
.bc-skyliner:before {
  content: "\ebc8";
  color: #2fcea0;
}
.bc-skype:before {
  content: "\ebc9";
  color: #00aff0;
}
.bc-slack:before {
  content: "\ebca";
  color: #4a154b;
}
.bc-slashdot:before {
  content: "\ebcb";
  color: #026664;
}
.bc-slickpic:before {
  content: "\ebcc";
  color: #ff880f;
}
.bc-slides:before {
  content: "\ebcd";
  color: #e4637c;
}
.bc-smashingmagazine:before {
  content: "\ebce";
  color: #e85c33;
}
.bc-smugmug:before {
  content: "\ebcf";
  color: #6db944;
}
.bc-snapchat:before {
  content: "\ebd0";
  color: #fffc00;
}
.bc-snapcraft:before {
  content: "\ebd1";
  color: #82bea0;
}
.bc-snyk:before {
  content: "\ebd2";
  color: #4c4a73;
}
.bc-society6:before {
  content: "\ebd3";
}
.bc-socket-dot-io:before {
  content: "\ebd4";
}
.bc-sogou:before {
  content: "\ebd5";
  color: #fb6022;
}
.bc-solus:before {
  content: "\ebd6";
  color: #5294e2;
}
.bc-sonarcloud:before {
  content: "\ebd7";
  color: #f3702a;
}
.bc-sonarlint:before {
  content: "\ebd8";
  color: #cc2026;
}
.bc-sonarqube:before {
  content: "\ebd9";
  color: #4e9bcd;
}
.bc-sonarsource:before {
  content: "\ebda";
  color: #cb3032;
}
.bc-songkick:before {
  content: "\ebdb";
  color: #f80046;
}
.bc-sonicwall:before {
  content: "\ebdc";
  color: #f60;
}
.bc-sonos:before {
  content: "\ebdd";
}
.bc-soundcloud:before {
  content: "\ebde";
  color: #f30;
}
.bc-sourceengine:before {
  content: "\ebdf";
  color: #f79a10;
}
.bc-sourceforge:before {
  content: "\ebe0";
  color: #535353;
}
.bc-sourcegraph:before {
  content: "\ebe1";
  color: #00b4f2;
}
.bc-spacemacs:before {
  content: "\ebe2";
  color: #9266cc;
}
.bc-spacex:before {
  content: "\ebe3";
  color: #005288;
}
.bc-sparkfun:before {
  content: "\ebe4";
  color: #e53525;
}
.bc-sparkpost:before {
  content: "\ebe5";
  color: #fa6423;
}
.bc-spdx:before {
  content: "\ebe6";
  color: #4398cc;
}
.bc-speakerdeck:before {
  content: "\ebe7";
  color: #396;
}
.bc-spectrum:before {
  content: "\ebe8";
  color: #7b16ff;
}
.bc-spotify:before {
  content: "\ebe9";
  color: #1ed760;
}
.bc-spotlight:before {
  content: "\ebea";
  color: #352a71;
}
.bc-spreaker:before {
  content: "\ebeb";
  color: #f5c300;
}
.bc-spring:before {
  content: "\ebec";
  color: #6db33f;
}
.bc-sprint:before {
  content: "\ebed";
  color: #ffce0a;
}
.bc-square:before {
  content: "\ebee";
}
.bc-squarespace:before {
  content: "\ebef";
}
.bc-stackbit:before {
  content: "\ebf0";
  color: #3eb0fd;
}
.bc-stackexchange:before {
  content: "\ebf1";
  color: #1e5397;
}
.bc-stackoverflow:before {
  content: "\ebf2";
  color: #fe7a16;
}
.bc-stackpath:before {
  content: "\ebf3";
}
.bc-stackshare:before {
  content: "\ebf4";
  color: #0690fa;
}
.bc-stadia:before {
  content: "\ebf5";
  color: #cd2640;
}
.bc-statamic:before {
  content: "\ebf6";
}
.bc-staticman:before {
  content: "\ebf7";
}
.bc-statuspage:before {
  content: "\ebf8";
}
.bc-steam:before {
  content: "\ebf9";
}
.bc-steamworks:before {
  content: "\ebfa";
}
.bc-steem:before {
  content: "\ebfb";
  color: #4ba2f2;
}
.bc-steemit:before {
  content: "\ebfc";
  color: #06d6a9;
}
.bc-steinberg:before {
  content: "\ebfd";
  color: #c90827;
}
.bc-stencyl:before {
  content: "\ebfe";
  color: #8e1c04;
}
.bc-stitcher:before {
  content: "\ebff";
}
.bc-storify:before {
  content: "\ec00";
  color: #3a98d9;
}
.bc-storybook:before {
  content: "\ec01";
  color: #ff4785;
}
.bc-strapi:before {
  content: "\ec02";
  color: #2e7eea;
}
.bc-strava:before {
  content: "\ec03";
  color: #fc4c02;
}
.bc-stripe:before {
  content: "\ec04";
  color: #008cdd;
}
.bc-strongswan:before {
  content: "\ec05";
  color: #e00033;
}
.bc-stubhub:before {
  content: "\ec06";
  color: #003168;
}
.bc-styled-components:before {
  content: "\ec07";
  color: #db7093;
}
.bc-styleshare:before {
  content: "\ec08";
}
.bc-stylus:before {
  content: "\ec09";
}
.bc-sublimetext:before {
  content: "\ec0a";
  color: #ff9800;
}
.bc-subversion:before {
  content: "\ec0b";
  color: #809cc9;
}
.bc-superuser:before {
  content: "\ec0c";
  color: #2eace3;
}
.bc-svelte:before {
  content: "\ec0d";
  color: #ff3e00;
}
.bc-svg:before {
  content: "\ec0e";
  color: #ffb13b;
}
.bc-svgo:before {
  content: "\ec0f";
  color: #14b9ff;
}
.bc-swagger:before {
  content: "\ec10";
  color: #85ea2d;
}
.bc-swarm:before {
  content: "\ec11";
  color: #ffa633;
}
.bc-swift:before {
  content: "\ec12";
  color: #fa7343;
}
.bc-symantec:before {
  content: "\ec13";
  color: #fdb511;
}
.bc-symfony:before {
  content: "\ec14";
}
.bc-synology:before {
  content: "\ec15";
  color: #b6b5b6;
}
.bc-t-mobile:before {
  content: "\ec16";
  color: #e20074;
}
.bc-tableau:before {
  content: "\ec17";
  color: #e97627;
}
.bc-tails:before {
  content: "\ec18";
  color: #56347c;
}
.bc-tailwindcss:before {
  content: "\ec19";
  color: #38b2ac;
}
.bc-tapas:before {
  content: "\ec1a";
  color: #ffce00;
}
.bc-teamviewer:before {
  content: "\ec1b";
  color: #0e8ee9;
}
.bc-ted:before {
  content: "\ec1c";
  color: #e62b1e;
}
.bc-teespring:before {
  content: "\ec1d";
  color: #39ace6;
}
.bc-telegram:before {
  content: "\ec1e";
  color: #2ca5e0;
}
.bc-tencentqq:before {
  content: "\ec1f";
  color: #eb1923;
}
.bc-tencentweibo:before {
  content: "\ec20";
  color: #20b8e5;
}
.bc-tensorflow:before {
  content: "\ec21";
  color: #ff6f00;
}
.bc-teradata:before {
  content: "\ec22";
  color: #f37440;
}
.bc-terraform:before {
  content: "\ec23";
  color: #623ce4;
}
.bc-tesla:before {
  content: "\ec24";
  color: #c00;
}
.bc-themighty:before {
  content: "\ec25";
  color: #d0072a;
}
.bc-themoviedatabase:before {
  content: "\ec26";
  color: #01d277;
}
.bc-tidal:before {
  content: "\ec27";
}
.bc-tiktok:before {
  content: "\ec28";
}
.bc-timescale:before {
  content: "\ec29";
  color: #fdb515;
}
.bc-tinder:before {
  content: "\ec2a";
  color: #ff6b6b;
}
.bc-todoist:before {
  content: "\ec2b";
  color: #e44332;
}
.bc-toggl:before {
  content: "\ec2c";
  color: #e01b22;
}
.bc-topcoder:before {
  content: "\ec2d";
  color: #29a8e0;
}
.bc-toptal:before {
  content: "\ec2e";
  color: #3863a0;
}
.bc-tor:before {
  content: "\ec2f";
  color: #7e4798;
}
.bc-toshiba:before {
  content: "\ec30";
  color: #f00;
}
.bc-trainerroad:before {
  content: "\ec31";
  color: #e12726;
}
.bc-trakt:before {
  content: "\ec32";
  color: #ed1c24;
}
.bc-travisci:before {
  content: "\ec33";
  color: #3eaaaf;
}
.bc-treehouse:before {
  content: "\ec34";
  color: #5fcf80;
}
.bc-trello:before {
  content: "\ec35";
  color: #0079bf;
}
.bc-trendmicro:before {
  content: "\ec36";
  color: #d71921;
}
.bc-tripadvisor:before {
  content: "\ec37";
  color: #00af87;
}
.bc-trulia:before {
  content: "\ec38";
  color: #53b50a;
}
.bc-trustpilot:before {
  content: "\ec39";
  color: #00b67a;
}
.bc-tumblr:before {
  content: "\ec3a";
  color: #36465d;
}
.bc-turkishairlines:before {
  content: "\ec3b";
  color: #c70a0c;
}
.bc-twilio:before {
  content: "\ec3c";
  color: #f22f46;
}
.bc-twitch:before {
  content: "\ec3d";
  color: #6441a4;
}
.bc-twitter:before {
  content: "\ec3e";
  color: #1da1f2;
}
.bc-twoo:before {
  content: "\ec3f";
  color: #ff7102;
}
.bc-typescript:before {
  content: "\ec40";
  color: #007acc;
}
.bc-typo3:before {
  content: "\ec41";
  color: #ff8700;
}
.bc-uber:before {
  content: "\ec42";
}
.bc-ubereats:before {
  content: "\ec43";
  color: #5fb709;
}
.bc-ubisoft:before {
  content: "\ec44";
}
.bc-ublockorigin:before {
  content: "\ec45";
  color: #800000;
}
.bc-ubuntu:before {
  content: "\ec46";
  color: #e95420;
}
.bc-udacity:before {
  content: "\ec47";
  color: #01b3e3;
}
.bc-udemy:before {
  content: "\ec48";
  color: #ec5252;
}
.bc-uikit:before {
  content: "\ec49";
  color: #2396f3;
}
.bc-umbraco:before {
  content: "\ec4a";
  color: #00bec1;
}
.bc-unity:before {
  content: "\ec4b";
}
.bc-unrealengine:before {
  content: "\ec4c";
}
.bc-unsplash:before {
  content: "\ec4d";
}
.bc-untappd:before {
  content: "\ec4e";
  color: #ffc000;
}
.bc-upwork:before {
  content: "\ec4f";
  color: #6fda44;
}
.bc-v:before {
  content: "\ec50";
  color: #5d87bf;
}
.bc-v8:before {
  content: "\ec51";
  color: #4b8bf5;
}
.bc-vagrant:before {
  content: "\ec52";
  color: #1563ff;
}
.bc-valve:before {
  content: "\ec53";
  color: #f74843;
}
.bc-veeam:before {
  content: "\ec54";
  color: #00b336;
}
.bc-venmo:before {
  content: "\ec55";
  color: #3d95ce;
}
.bc-verizon:before {
  content: "\ec56";
  color: #cd040b;
}
.bc-viadeo:before {
  content: "\ec57";
  color: #f88d2d;
}
.bc-viber:before {
  content: "\ec58";
  color: #665cac;
}
.bc-vim:before {
  content: "\ec59";
  color: #019733;
}
.bc-vimeo:before {
  content: "\ec5a";
  color: #1ab7ea;
}
.bc-vine:before {
  content: "\ec5b";
  color: #11b48a;
}
.bc-virb:before {
  content: "\ec5c";
  color: #0093da;
}
.bc-visa:before {
  content: "\ec5d";
  color: #142787;
}
.bc-visualstudio:before {
  content: "\ec5e";
  color: #5c2d91;
}
.bc-visualstudiocode:before {
  content: "\ec5f";
  color: #007acc;
}
.bc-vk:before {
  content: "\ec60";
  color: #4680c2;
}
.bc-vlcmediaplayer:before {
  content: "\ec61";
  color: #f80;
}
.bc-vodafone:before {
  content: "\ec62";
  color: #e60000;
}
.bc-volkswagen:before {
  content: "\ec63";
  color: #151f5d;
}
.bc-vsco:before {
  content: "\ec64";
}
.bc-vue-dot-js:before {
  content: "\ec65";
  color: #4fc08d;
}
.bc-w3c:before {
  content: "\ec66";
  color: #005a9c;
}
.bc-wattpad:before {
  content: "\ec67";
  color: #f68d12;
}
.bc-waze:before {
  content: "\ec68";
  color: #333665;
}
.bc-weasyl:before {
  content: "\ec69";
  color: #900;
}
.bc-webauthn:before {
  content: "\ec6a";
  color: #3423a6;
}
.bc-webcomponents-dot-org:before {
  content: "\ec6b";
  color: #29abe2;
}
.bc-webmin:before {
  content: "\ec6c";
  color: #7da0d0;
}
.bc-webpack:before {
  content: "\ec6d";
  color: #8dd6f9;
}
.bc-webstorm:before {
  content: "\ec6e";
}
.bc-wechat:before {
  content: "\ec6f";
  color: #7bb32e;
}
.bc-whatsapp:before {
  content: "\ec70";
  color: #25d366;
}
.bc-wheniwork:before {
  content: "\ec71";
  color: #51a33d;
}
.bc-whitesource:before {
  content: "\ec72";
  color: #161d4e;
}
.bc-wii:before {
  content: "\ec73";
  color: #8b8b8b;
}
.bc-wiiu:before {
  content: "\ec74";
  color: #8b8b8b;
}
.bc-wikipedia:before {
  content: "\ec75";
}
.bc-windows:before {
  content: "\ec76";
  color: #0078d6;
}
.bc-wire:before {
  content: "\ec77";
}
.bc-wireguard:before {
  content: "\ec78";
  color: #88171a;
}
.bc-wish:before {
  content: "\ec79";
  color: #2fb7ec;
}
.bc-wix:before {
  content: "\ec7a";
  color: #faad4d;
}
.bc-wolfram:before {
  content: "\ec7b";
  color: #d10;
}
.bc-wolframlanguage:before {
  content: "\ec7c";
  color: #d10;
}
.bc-wolframmathematica:before {
  content: "\ec7d";
  color: #d10;
}
.bc-wordpress:before {
  content: "\ec7e";
  color: #21759b;
}
.bc-workplace:before {
  content: "\ec7f";
}
.bc-wpengine:before {
  content: "\ec80";
  color: #40bac8;
}
.bc-write-dot-as:before {
  content: "\ec81";
  color: #5bc4ee;
}
.bc-x-dot-org:before {
  content: "\ec82";
  color: #f28834;
}
.bc-x-pack:before {
  content: "\ec83";
  color: #005571;
}
.bc-xamarin:before {
  content: "\ec84";
  color: #4393d4;
}
.bc-xbox:before {
  content: "\ec85";
  color: #107c10;
}
.bc-xcode:before {
  content: "\ec86";
  color: #1575f9;
}
.bc-xdadevelopers:before {
  content: "\ec87";
  color: #f59812;
}
.bc-xero:before {
  content: "\ec88";
  color: #13b5ea;
}
.bc-xfce:before {
  content: "\ec89";
  color: #2284f2;
}
.bc-xiaomi:before {
  content: "\ec8a";
  color: #fa6709;
}
.bc-xing:before {
  content: "\ec8b";
  color: #006567;
}
.bc-xmpp:before {
  content: "\ec8c";
  color: #002b5c;
}
.bc-xrp:before {
  content: "\ec8d";
  color: #25a768;
}
.bc-xsplit:before {
  content: "\ec8e";
  color: #0095de;
}
.bc-yahoo:before {
  content: "\ec8f";
  color: #6001d2;
}
.bc-yamahacorporation:before {
  content: "\ec90";
  color: #4b1e78;
}
.bc-yamahamotorcorporation:before {
  content: "\ec91";
  color: #e60012;
}
.bc-yammer:before {
  content: "\ec92";
  color: #0072c6;
}
.bc-yandex:before {
  content: "\ec93";
  color: #f00;
}
.bc-yarn:before {
  content: "\ec94";
  color: #2c8ebb;
}
.bc-ycombinator:before {
  content: "\ec95";
  color: #f0652f;
}
.bc-yelp:before {
  content: "\ec96";
  color: #d32323;
}
.bc-youtube:before {
  content: "\ec97";
  color: #f00;
}
.bc-zalando:before {
  content: "\ec98";
  color: #ff6900;
}
.bc-zapier:before {
  content: "\ec99";
  color: #ff4a00;
}
.bc-zeit:before {
  content: "\ec9a";
}
.bc-zend:before {
  content: "\ec9b";
  color: #0679ea;
}
.bc-zendesk:before {
  content: "\ec9c";
}
.bc-zendframework:before {
  content: "\ec9d";
  color: #68b604;
}
.bc-zeromq:before {
  content: "\ec9e";
  color: #df0000;
}
.bc-zerply:before {
  content: "\ec9f";
  color: #9dbc7a;
}
.bc-zhihu:before {
  content: "\eca0";
  color: #0084ff;
}
.bc-zillow:before {
  content: "\eca1";
  color: #0074e4;
}
.bc-zingat:before {
  content: "\eca2";
  color: #009cfb;
}
.bc-zoom:before {
  content: "\eca3";
  color: #2d8cff;
}
.bc-zorin:before {
  content: "\eca4";
  color: #0cc1f3;
}
.bc-zulip:before {
  content: "\eca5";
  color: #52c2af;
}
